<section class="course-section">
  <nav class="left-aside">
    <details open>
      <summary class="nav-item">Курси GO IT</summary>
      <a class="nav-link" href="#">Що таке GO IT?</a>
    </details>
  </nav>
  <div class="course-container">
    <section>
      <h1 id="html" class="hero-title">Що таке GO IT?</h1>
    </section>
  </div>
</section>

<script>
function createArrayOfNumbers(min, max) {
  const array = [];
  for (let i = min; min <= max; min +=1) { 
    console.log(array);  
    array.push(`${min}`);
  }
  return array;
}

createArrayOfNumbers(1, 3);
</script>