<header class="header">
  <nav class="nav">
    <div class="nav-brand">
      <a href="./index.html" aria-label="Site logo" class="nav-logo-link">
        <img src="/img/logo.jpg" alt="Logo" class="nav-logo" />
      </a>
      <div class="nav-brand-text">
        <p class="nav-brand-1st-line">Full-stack</p>
        <p class="nav-brand-andre-line">Developer</p>
      </div>
    </div>
    <ul class="nav-menu">
      <li class="nav-menu-item">
        <a href="/index.html" class="nav-menu-link">HOME</a>
      </li>
      <li class="nav-menu-item">
        <a href="/html_guide.html" class="nav-menu-link">HTML</a>
      </li>
      <li class="nav-menu-item">
        <a href="/css_guide.html" class="nav-menu-link">CSS</a>
      </li>
    </ul>
  </nav>
</header>
