<section class="course-section">
  <nav class="left-aside">
    <details open>
      <summary class="nav-item">Основи JavaScript</summary>
      <a class="nav-link" href="#js">Мова JavaScript</a>
    </details>
  </nav>
  <div class="course-container">
    <!--Мова JavaScript-->
    <section>
      <h1 id="js" class="hero-title">Мова JavaScript</h1>
      <p>
        <strong>JavaScript</strong> — високорівнева мова програмування, що
        підтримується всіма сучасними веббраузерами.
      </p>
    </section>
  </div>
</section>
