.header-container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px;
  justify-content: space-between;
}

.hero-container {
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto;
}

/*Left menu*/
.left-aside {
  width: 240px;
  justify-content: left;
  padding: 16px 8px;
  border-right: 1px solid black;
}

.left-aside details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav-item {
  padding: 4px 8px;
  border: 1px solid black;
  border-radius: 4px;
  font-weight: bold;
}

.nav-link {
  display: block;
  border: 1px solid lightskyblue;
  padding: 2px 8px;
  margin-bottom: 8px;
}

/*Content*/
.course-container {
  width: 1200px;
  padding: 0 16px;
}

.footer-container {
  max-width: 1440px;
  padding: 8px 16px;
  margin: 0 auto;
}
