.header-container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px;
  justify-content: space-between;
}

.hero-container {
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto;
}

.left-aside {
  width: 200px;
  justify-content: left;
  padding: 16px 8px;
  border-right: 1px solid black;
}

.left-aside details {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.nav-link {
  margin-bottom: 8px;
}

.course-container {
  width: 1224px;
  padding-left: 16px;
  padding-right: 16px;
}

.footer-container {
  max-width: 1440px;
  padding: 8px 16px;
  margin: 0 auto;
}
