.header {
  /* background-color: black; */
  border-bottom: 1px solid lightgray;
}

.nav {
  display: flex;
  justify-content: space-between;

}

.nav-brand {
  display: flex;
}

.nav-logo-link {
  display: flex;
  justify-content: center;
  width: 60px; 
  height: 60px;
  background-color: white;
  border: 4px solid black;
  border-radius: 8px;
  padding: 5px;
}

.nav-logo {
  width: 50px;
  min-height: 50px;
  height: 50px;
  align-self: center;
  border-radius: 4px;
}

.nav-brand-text {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  margin: auto 16px;
  gap: 8px;
}

.nav-brand-1st-line {
  /* color: lightblue; */
}

.nav-brand-andre-line {
  /* color: yellow; */
}

/*menu*/
.nav-menu {
  display: flex;
  list-style-type: none;
  gap: 16px;
  padding: 0;
}
.nav-menu-item {
  display: flex;
  margin: auto 0;
  /* color: white; */
}
