.header,
.content,
.footer {
  padding: 16px;
  width: 100%;
}

.hero-title {
  /*h1*/
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}
.course-title {
  /*h2*/
  font-size: 20px;
  margin: 12px 0;
  text-align: center;
}
